<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div style="display: flex; flex-direction: row;">
        <div id="wrapper" style="width: 50%">
            <h1>TinySPARQL web-IDE</h1>
            <button id="runBtn">Run</button>
            <div id = "error"></div>
        </div>
        <div>
            <table id="table">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>